main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 2.5rem;
    width: auto;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    .logo-alura {
        width: 7.5rem;
        height: 3rem;
        flex-shrink: 0;
    }
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 8rem 0 2rem 0;
    gap: 4rem;
}

textarea {
    width: 42.5rem;
    height: 18rem;
    color: $dark-blue;
    font-family: $font-family;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
}

textarea::placeholder {
    color: $dark-blue;
}

.encryption-and-decryption-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.exclamation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: auto;
    height: auto;

    img {
        width: 1rem;
        height: 1rem;
    }

    p {
        color: $gray;
        font-family: $font-family;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        opacity: 0.8;
    }
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    height: auto;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 25rem;
    height: 59rem;
}

.warning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 2rem;
    width: 21rem;
    height: 28.6rem;
}

.warning-message {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h1,
    p {
        align-self: stretch;
        text-align: center;
        font-family: $font-family;
        font-style: normal;
    }

    h1 {
        color: $dark-gray;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.8rem;
    }

    p {
        color: $gray;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

// DOM
.encrypted-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 2rem;
    width: 21rem;
    height: auto;

    p {
        width: 21rem;
        height: 48.8125rem;
        flex-shrink: 0;
        color: $gray;
        font-family: $font-family;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
    }
}
