@use "../base/variables";

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  width: 25rem;
  height: 59rem;

  .warning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 2rem;
    width: 21rem;
    height: 28.6rem;

    .warning-message {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      h1,
      p {
        align-self: stretch;
        text-align: center;
        font-family: variables.$font-family;
        font-style: normal;
      }

      h1 {
        color: variables.$dark-gray;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.8rem;
      }

      p {
        color: variables.$gray;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }

  // DOM
  .encrypted-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 2rem;
    width: 21rem;
    height: auto;

    .encrypted-message {
      width: 21rem;
      height: 48.8125rem;
      flex-shrink: 0;
      color: variables.$gray;
      font-family: variables.$font-family;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.25rem;
      word-wrap: break-word;
      overflow-y: auto;
    }
  }
}

// Tablet
@media only screen and (min-width: variables.$tablet-max-width) and (max-width: variables.$desktop-max-width) {
  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 43rem;
    height: auto;

    .warning-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: auto;

      .character {
        display: none;
      }

      .warning-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1,
        p {
          align-self: stretch;
          text-align: center;
          font-family: variables.$font-family;
          font-style: normal;
        }

        h1 {
          color: variables.$dark-gray;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.8rem;
        }

        p {
          color: variables.$gray;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
    }

    // DOM
    .encrypted-message-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      gap: 2rem;
      width: 100%;
      height: auto;

      .encrypted-message {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        color: variables.$gray;
        font-family: variables.$font-family;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
        word-wrap: break-word;
        overflow-y: auto;
      }
    }
  }
}

// Mobile
@media only screen and (min-width: variables.$phone-max-width) and (max-width: variables.$tablet-max-width) {
  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 21.4375rem;
    height: auto;

    .warning-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      height: auto;

      .character {
        display: none;
      }

      .warning-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1,
        p {
          align-self: stretch;
          text-align: center;
          font-family: variables.$font-family;
          font-style: normal;
        }

        h1 {
          color: variables.$dark-gray;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.8rem;
        }

        p {
          color: variables.$gray;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
    }

    // DOM
    .encrypted-message-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 100%;
      height: auto;

      .encrypted-message {
        width: 100%;
        height: 27rem;
        flex-shrink: 0;
        color: variables.$gray;
        font-family: variables.$font-family;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
        word-wrap: break-word;
        overflow-y: auto;
      }
    }
  }
}
