$dark-blue: #0a3871;
$dark-gray: #343a40;
$dark-grey: #343a40;
$gray: #495057;
$grey: #495057;
$white: #f3f5fc;

$font-family: "Inter", sans-serif;

$desktop-max-width: 89rem;
$tablet-max-width: 47rem;
$phone-max-width: 22.4375rem;
